<div class="div">
    <div class="div-2">About</div>
    <div class="div-3">私について</div>
    <div class="div-4">
      <div class="div-5">
        <div class="column">
          <img
            loading="lazy"
            srcset="assets/profile.png"
            class="img"
          />
        </div>
        <div class="column-2">
          <div class="div-6">
            <div class="div-7">Hoge Fuga</div>
            <div class="div-8">
              あばばばばばばばばばばばばばああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  