<div class="div">
  <div class="div-13">Service</div>
  <div class="div-14">サービス</div>
  <div class="div-15">
    <div class="div-16">
      <div class="column">
        <div class="div-17">
          <img
            loading="lazy"
            src="./assets/graphic_design.png"
            class="img-2"
          />
          <div class="div-18">Graphic Design</div>
          <div class="div-19">
            テキストああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          </div>
        </div>
      </div>
      <div class="column-2">
        <div class="div-20">
          <img
            loading="lazy"
            src="./assets/web_design.png"
            class="img-3"
          />
          <div class="div-21">Web Design</div>
          <div class="div-22">
            テキストああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          </div>
        </div>
      </div>
      <div class="column-3">
        <div class="div-23">
          <img
            loading="lazy"
            src="./assets/direction.png"
            class="img-4"
          />
          <div class="div-24">Direction</div>
          <div class="div-25">
            テキストああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          </div>
        </div>
      </div>
    </div>
  </div>
</div>