<div class="div">
    <div class="div-26">Works</div>
    <div class="div-27">制作実績</div>
    <div class="div-28">
      <div class="div-29">
        <div class="column">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="./assets/Works-01.png"
              class="img-5"
            />
            <div class="div-31">プロジェクト名が入ります</div>
            <div class="div-32">グラフィックデザイン</div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="./assets/Works-02.png"
              class="img-5"
            />
            <div class="div-31">プロジェクト名が入ります</div>
            <div class="div-32">グラフィックデザイン</div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="./assets/Works-03.png"
              class="img-5"
            />
            <div class="div-31">プロジェクト名が入ります</div>
            <div class="div-32">グラフィックデザイン</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-28">
      <div class="div-29">
        <div class="column">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="./assets/Works-04.png"
              class="img-5"
            />
            <div class="div-31">プロジェクト名が入ります</div>
            <div class="div-32">グラフィックデザイン</div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="./assets/Works-05.png"
              class="img-5"
            />
            <div class="div-31">プロジェクト名が入ります</div>
            <div class="div-32">UIデザイン</div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="./assets/Works-06.png"
              class="img-5"
            />
            <div class="div-31">プロジェクト名が入ります</div>
            <div class="div-32">グラフィックデザイン</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-50">View More</div>
  </div>
  